*{
    font-family:'Montserrat', sans-serif;
}

body {
    background-color:darkslategrey; 
}

/*TITRE LIAU JULIAN*/
h1 {
    color:rgb(255, 255, 255);
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 2px #626262;
    font-size: 100px;
    width: 50%;
    margin: auto;
}

/* EFFET SURLIGNEMENT */
h1::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ffffff;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

h1:hover::after {
    transform: scale(1);
}


/*TITRE SECTIONS*/
h2 {
    color:rgb(255, 255, 255);
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 2px #626262;
    width: 50%;
    margin: auto;
}

/* EFFET SURLIGNEMENT */
h2::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ffffff;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

:hover::after {
    transform: scale(1);
}


/* SECTION CONTACT*/
.contact {
    top: 50px;
    position: relative;
    box-shadow: 0px 0px 30px #141414;
    border: 4px solid #ffffff;
    margin: auto;
    width: 350px;
    border-radius: 10px;
}

.contact:hover {
    box-shadow: 0px 0px 50px #141414;
}



/* TEXTE SECTION CONACT*/
.contact p {
    position: relative;
    color: #ffffff;
    text-align: center;
}


/* PROFIL */

.pp {
    top: 50px;
    position: relative;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.profil {
    top: 50px;
    position: relative;
    margin: auto;
    width: 700px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.contact:hover {
    box-shadow: 0px 0px 50px #141414;
}

.exp {
    top: 150px;
    position: relative;
    margin: auto;
    width: 1250px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0px 0px 50px #141414;
}

.formation {
    top: 150px;
    position: relative;
    margin: auto;
    width: 1250px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0px 0px 50px #141414;
    
}

.skill {
    top: 150px;
    position: relative;
    margin: auto;
    text-align: center;
    color: #101010;
    background-color: #ffffff;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px #141414;
    font-weight: bold;
}

.skill h2 {
    color: darkslategrey;
    text-shadow: 0px 0px 0px #626262;
}

.pdf {
    top: 150px;
    position: relative;
    margin: auto;
    text-align: center;
    color: #101010;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px #141414;
    font-weight: bold;
}

.git {
    top: 150px;
    position: relative;
    margin: auto;
    text-align: center;
    color: #101010;
    background-color: #ffffff;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px #141414;
    font-weight: bold;
}



 